<strong>Olá {{ name }},</strong>
<p> Recebemos a sua pergunta e já temos uma resposta! Veja abaixo:</p>
<p>
  <strong> Pergunta: </strong> <br />{{ question }} <br />
  <strong> Resposta: </strong> <br />{{ answer }} <br />

  <br />
  <p>
    Qualquer dúvida adicional, estamos à disposição. <br />
    Um abraço,
  </p>

</p>